@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
  .input-autofill-verde {
    @apply border border-green-500 focus:ring-green-500 focus:border-green-500;

    &:-webkit-autofill {
      box-shadow:
        0 0 0px 1000px #dcfce7 inset;
      -webkit-text-fill-color: #14532d !important;
    }
  }
}

@keyframes float {
  0%   { transform: translate(-50%, -50%) translateY(0); }
  50%  { transform: translate(-50%, -50%) translateY(-10px); }
  100% { transform: translate(-50%, -50%) translateY(0); }
}

/* body {
  cursor: url('/images/cursor/cursormano.png') 16 16, auto;
} */


